In [1]:
%defaultDatasource jdbc:h2:mem:db

# Tabela Mental Health Issues

In [27]:
DROP TABLE IF EXISTS MentalHealthIssues;

CREATE TABLE MentalHealthIssues (
    pais VARCHAR(60) NOT NULL,
    ano INT NOT NULL,
    depressao DOUBLE NOT NULL,
    ansiedade DOUBLE NOT NULL,
    bipolaridade DOUBLE NOT NULL,
    alimentar DOUBLE NOT NULL,
    esquizofrenia DOUBLE NOT NULL
) AS SELECT
    Entity,
    Year,
    Depressive,
    Bipolar,
    Anxiety,
    EatingDisorders,
    Schizophrenia
FROM CSVREAD('../data/external/mental-health-issues.csv');

Foi necessários fazer manipulações manuais para mudar nome de colunas e remover vírgulas para não atrapalhar na leitura do CSV.

In [28]:
select * from MentalHealthIssues

## Países que fazem da nossa pesquisa

In [19]:
Select distinct pais from MentalHealthIssues order by pais

## Média de pessoas com depressão por país de 2000 até 2017

In [ ]:
Select pais, AVG(depressao), AVG(ansiedade) from MentalHealthIssues where ano > 2000 group by pais order by pais

## Tabelas de suicídio porcetagem

In [2]:
DROP TABLE IF EXISTS ShareDeathsSuicide;

CREATE TABLE ShareDeathsSuicide (
    pais VARCHAR(60) NOT NULL,
    codigo VARCHAR(10),
    ano INT NOT NULL,
    porcentagemDeMortes DOUBLE NOT NULL
) AS SELECT
    Entity,
    Code,
    Year,
    Percent
FROM CSVREAD('../data/external/share-deaths-suicide.csv');

In [3]:
select * from ShareDeathsSuicide

## Tabelas de suicídio rates por sexo

In [4]:
DROP TABLE IF EXISTS RatesDeathsSuicide;

CREATE TABLE RatesDeathsSuicide (
    pais VARCHAR(60) NOT NULL,
    codigo VARCHAR(10),
    ano INT NOT NULL,
    RatesDeaths DOUBLE,
    RatesDeathsMale DOUBLE,
    RatesDeathsFemale DOUBLE
) AS SELECT
    Entity,
    Code,
    Year,
    Rate,
    MaleRate,
    FemaleRate  
FROM CSVREAD('../data/external/suicide-death-rates-by-sex.csv');

In [10]:
select * from RatesDeathsSuicide order by pais

## Tabelas de suicídio rates por idade

In [6]:
DROP TABLE IF EXISTS RatesDetailedDeathsSuicide;

CREATE TABLE RatesDetailedDeathsSuicide (
    pais VARCHAR(60) NOT NULL,
    codigo VARCHAR(10),
    ano INT NOT NULL,
    RatesDeaths DOUBLE,
    RatesDeaths514 DOUBLE,
    RatesDeaths1549 DOUBLE,
    RatesDeaths5069 DOUBLE,
    RatesDeaths70 DOUBLE
) AS SELECT
    Entity,
    Code,
    Year,
    Rate,
    Age514,
    Age1549,
    Age5069,
    Age70
FROM CSVREAD('../data/external/suicide-rates-by-age-detailed.csv');

In [11]:
select * from RatesDetailedDeathsSuicide order by pais

## Comentários:
* Pensei que a gente poderia analisar as doenças: 
    * depressão
    * ansiedade
    * bipolaridade
    * problemas alimentares
    * esquizofrenia.

## Dúvidas:

* Não sei como colocar as partes de **Valor Absoluto** e **Valor Relativo**.
* Estou com dúvida a respeito dos valores por causa do ponto, não sei se estão certos (as vezes ele ta lendo errado, não sei).
* Pra fazer gráficos ao longo do tempo, por exemplo, como poderíamos juntar aqui com Python?
* E as chaves primárias para fazer as relações com as tabelas? (escolher duas colunas?)
* Como exportar para csv as tabelas.