In [1]:
%defaultDatasource jdbc:h2:mem:db

# Tabela Mental Health Issues

In [17]:
DROP TABLE IF EXISTS MentalHealthIssues;

CREATE TABLE MentalHealthIssues (
    pais VARCHAR(60) NOT NULL,
    ano INT NOT NULL,
    depressao DOUBLE NOT NULL,
    ansiedade DOUBLE NOT NULL,
    bipolaridade DOUBLE NOT NULL,
    alimentar DOUBLE NOT NULL,
    esquizofrenia DOUBLE NOT NULL
) AS SELECT
    Entity,
    Year,
    Depressive,
    Bipolar,
    Anxiety,
    EatingDisorders,
    Schizophrenia
FROM CSVREAD('mental-health-issues.csv');

Foi necessários fazer manipulações manuais para mudar nome de colunas e remover vírgulas para não atrapalhar na leitura do CSV.

In [21]:
select * from MentalHealthIssues

## Países que fazem da nossa pesquisa

In [19]:
Select distinct pais from MentalHealthIssues order by pais

## Média de pessoas com depressão por país de 2000 até 2017

In [ ]:
Select pais, AVG(depressao), AVG(ansiedade) from MentalHealthIssues where ano > 2000 group by pais order by pais

## Tabelas de suicídio porcetagem

In [ ]:
DROP TABLE IF EXISTS PercentDeathsSuicide;

CREATE TABLE ShareDeathsSuicide (
    pais VARCHAR(60) NOT NULL,
    codigo VARCHAR(5) NOT NULL,
    ano INT NOT NULL,
    porcentagemDeMortes DOUBLE NOT NULL
) AS SELECT
    Entity,
    Code,
    Year,
    Percent
FROM CSVREAD('share-deaths-suicide.csv');

## Tabelas de suicídio rates

In [ ]:
DROP TABLE IF EXISTS RatesDeathsSuicide;

CREATE TABLE RatesDeathsSuicide (
    pais VARCHAR(60) NOT NULL,
    codigo VARCHAR(5) NOT NULL,
    ano INT NOT NULL,
    RatesDeaths DOUBLE NOT NULL,
    RatesDeathsMale DOUBLE NOT NULL,
    RatesDeathsFemale DOUBLE NOT NULL
) AS SELECT
    Entity,
    Code,
    Year,
    Rate,
    MaleRate,
    FamaleRate  
FROM CSVREAD('suicide-death-rates-by-sex.csv');

## Tabelas de suicídio rates detailed

In [ ]:
DROP TABLE IF EXISTS RatesDetailedDeathsSuicide;

CREATE TABLE RatesDetailedDeathsSuicide (
    pais VARCHAR(60) NOT NULL,
    codigo VARCHAR(5) NOT NULL,
    ano INT NOT NULL,
    RatesDeaths DOUBLE NOT NULL,
    RatesDeaths5-14 DOUBLE NOT NULL,
    RatesDeaths15-49 DOUBLE NOT NULL,
    RatesDeaths50-69 DOUBLE NOT NULL,
    RatesDeaths+70 DOUBLE NOT NULL
) AS SELECT
    Entity,
    Code,
    Year,
    Rate,
    Age 5-14 years Rate,
    Age 15-49 years Rate,
    Age 50-69 years Rate,
    Age 70+ years Rate
FROM CSVREAD('suicide-rates-by-age-detailed.csv');

## Comentários:
* Pensei que a gente poderia analisar as doenças: 
    * depressão
    * ansiedade
    * bipolaridade
    * problemas alimentares
    * esquizofrenia.

## Dúvidas:
* Tem problema deixa um atributo para cada doença?
* Não sei como colocar as partes de **Valor Absoluto** e **Valor Relativo**.
* Esou com dúvida a respeito dos valores por causa do ponto, não sei se estão certos (as vezes ele ta lendo errado, não sei).
* Pra fazer gráficos ao longo do tempo, por exemplo, como poderíamos juntar aqui com Python?